@import "variables.scss";
@import "page-header.scss";
@import "menu.scss";
@import "page-section.scss";
@import "container.scss";
@import "wrapper.scss";
@import "promo.scss";
@import "page-footer.scss";





body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #faf9ef;
}